--index-url https://download.pytorch.org/whl/cu118
timm
fairscale
omegaconf
transformers
accelerate
diffusers
toml
torch
torchvision
albumentations
einops
bitsandbytes
voluptuous
safetensors
tensorboard
xformers
diffusers[torch]
